name: Release

on:
  release:
    types: [published]

env:
  VERSION: 0.7.1

permissions: write-all

jobs:
  build_wheels:
    name: Build wheels for libfranka ${{ matrix.libfranka-version }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        libfranka-version: ["0.7.1", "0.8.0", "0.9.2", "0.10.0", "0.11.0", "0.12.1", "0.13.2"]
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v3
      - name: Install cibuildwheel
        run: python -m pip install cibuildwheel==2.16.2
      - name: Build using cibuildwheel
        run: ./bin/build.sh "${{ matrix.libfranka-version }}"
      - uses: actions/upload-artifact@v3
        with:
          path: ./archive/panda_py_${{ env.VERSION }}_libfranka_${{ matrix.libfranka-version }}.zip
          name: zip-${{ matrix.libfranka-version }}
  upload_pypi:
    name: "Upload wheels to pypi"
    needs: [build_wheels]
    runs-on: ubuntu-latest
    env:
      LIBFRANKA_VER: "0.9.2"
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v3
      - name: Install requirements
        run: |
          ./bin/before_install_ubuntu.sh
          python -m pip install cibuildwheel
      - name: Build using cibuildwheel
        run: python -m cibuildwheel --output-dir dist
      - uses: pypa/gh-action-pypi-publish@v1.5.0
        with:
          user: __token__
          password: ${{ secrets.PYPI_API_TOKEN }}
  upload_assets:
    name: "Upload libfranka ${{ matrix.libfranka-version }} release assets"
    needs: [build_wheels]
    runs-on: ubuntu-latest
    strategy:
      matrix:
        libfranka-version: ["0.7.1", "0.8.0", "0.9.2", "0.10.0", "0.11.0", "0.12.1", "0.13.2"]
    steps:
      - uses: actions/download-artifact@v3
        with:
          name: zip-${{ matrix.libfranka-version }}
          path: archive
      - uses: actions/upload-release-asset@v1
        with:
          upload_url: ${{ github.event.release.upload_url }}
          asset_path: ./archive/panda_py_${{ env.VERSION }}_libfranka_${{ matrix.libfranka-version }}.zip
          asset_name: panda_py_${{ env.VERSION }}_libfranka_${{ matrix.libfranka-version }}.zip
          asset_content_type: application/zip
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
